<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="card mt-5">
                <div class="card-header text-center bg-primary">
                    <h5 class="text-white">Registration Form</h5>
                </div>
                <div class="card-body">
                  <form [formGroup]="signupForm" (ngSubmit)="signupUser()">
                    <div class="row">
                      <div class="col-md-12 mb-2">
                         <label for="username">username</label>
                         <input 
                               formControlName="username" 
                               type="text" class="form-control" 
                               id="username" 
                               name="username" 
                               required 
                               [ngClass]="{ 'is-invalid': signupForm.get('username')?.errors && signupForm.get('username')?.touched }"     
                         >
                         @if(signupForm.get('username')?.invalid && (signupForm.get('username')?.touched || signupForm.get('username')?.dirty) ) {
                           <div>
                              @if (signupForm.get('username')?.getError('required')) {
                                <div class="text-danger mt-1">Le champ username est obligatoire</div>
                              }
                              @if (signupForm.get('username')?.getError('minlength')) {
                                <div class="text-danger mt-1">Le username doit comporter au moins 3 caractères</div>
                              }
                           </div>
                         }
                      </div>
                    </div>
 
                    <div class="row">
                     <div class="col-md-12 mb-2">
                        <label for="email">email</label>
                        <input 
                              formControlName="email" 
                              type="text" class="form-control" 
                              id="email" 
                              name="email"
                              required 
                              [ngClass]="{ 'is-invalid': signupForm.get('email')?.errors && signupForm.get('email')?.touched }"   
                              >
                        @if(signupForm.get('email')?.invalid && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty) ) {
                          <div>
                             @if (signupForm.get('email')?.getError('required')) {
                               <div class="text-danger mt-1">Le champ email est obligatoire</div>
                             }
                             @if (signupForm.get('email')?.getError('email')) {
                               <div class="text-danger mt-1">Veuillez fournir une adresse email valide</div>
                             }
                          </div>
                        }
                     </div>
                   </div>
 
                   <div class="row">
                     <div class="col-md-12 mb-3">
                        <label for="password">password</label>
                        <input 
                              formControlName="password" 
                              type="text" 
                              class="form-control" 
                              id="password" 
                              name="password"
                              required 
                              [ngClass]="{ 'is-invalid': signupForm.get('password')?.errors && signupForm.get('password')?.touched }"   
                              >
                        @if(signupForm.get('password')?.invalid && (signupForm.get('password')?.touched || signupForm.get('email')?.dirty) ) {
                          <div>
                             @if (signupForm.get('password')?.getError('required')) {
                               <div class="text-danger mt-1">Le champ password est obligatoire</div>
                             }
                             @if (signupForm.get('password')?.getError('minlength')) {
                               <div class="text-danger mt-1">Le password doit comporter au moins 6 caractères</div>
                             }
                          </div>
                        }
                     </div>
                   </div>
 
                   <div class="row">
                     <div class="col-md-12">
                         <button class="btn btn-success" [disabled]="signupForm.invalid">Enregister</button> 
                     </div>
                   </div>
                  </form>

                </div>
            </div>
        </div>
    </div>
</div>